#Header {
    /* styles for the header block */
}

#navBar {
    float: left;
    width: 250px;
}

#navBar ul {
    padding-right: 1em;
}

#Content {
    margin-left: 250px;
}

#navBar ul li {
    background-color: #0ff;
    border: outset;
    list-style-type: none;
    height: 20px;
    overflow: hidden;
}

#navBar ul li:hover {
    height: 100%;
}

#navBar ul li li {
    padding-bottom: 2px;
    padding-top: 1px;
    border: none;
    height: 100%;
}

#navBar a {
    text-decoration: none;
    color: #000;
}

#navBar a:hover {
    text-decoration: underline;
}

body {
    background-color: #000;
    color: #fff;
}

h1, h2, h3, h4, h5 {
    color: #ff0;
}

h1 {
    text-align: center;
}

#Page {
    background-color: #eee;
    color: #000;
    border: groove #ff0;
    margin: 10px 20px;
}

#Page h1, #Page h2, #Page h3, #Page h4, #Page h5 {
    color: #088;
}

